@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400&family=Roboto:wght@300;400&display=swap');
body{
    font-family: 'Lato', sans-serif;
}
nav.container{
    background-color: red;
    width: 90%;
    display: flex;
    align-items: center;
    align-content: center;
    text-decoration: none;
}
ul.ulnav{
	text-align: center;	
	text-decoration: none;
}
ul li a{
	text-decoration: none;
    color: wheat;
}
li{
    display:inline-flex;
}